:root 
{
   background-color: rgb(128, 128, 133);
    background-image: url("images/ss1.png");
    background-repeat: repeat;
    color: rgb(86, 54, 226);
}
@font-face
{
    font-family:coolfont ;
    src: url(fonts/ER.ttf);
}
h1
{
    font-family: coolfont;
}
@font-face
{
    font-family:coolfont2 ;
    src: url(fonts/RS.ttf);
}
h2
{
    font-family: coolfont2;
    font-size: xxx-large;
}
p
{
    font-size: x-large;
}

img
{
    border-radius: 100px;
    width: 400px;
}
img:hover 
{
    transform: scaleX(-1);
}
h1
{
    text-align: center;
    font-size: xxx-large;
}
ul
{
font-size: x-large;
}